@model WebSakila.Models.Dto.FilmCreateDto
@{
    ViewData["Title"] = "CreateFilm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="CreateFilm">
    <div class="container border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <h2 class="text-info">Crear nueva pelicula</h2>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Titulo de la Pelicula</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Descripcion</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Año de lanzamiento</label>
                <select asp-for="ReleaseYear" class="form-control">
                    <option value="" disabled selected hidden>Selecciona el año de lanzamiento</option>
                    @{
                        var currentYear = DateTime.Now.Year;
                        var startYear = 1900;
                        var endYear = currentYear +1; // Puedes ajustar este límite si lo deseas
                        for (var year = startYear; year <= endYear; year++)
                        {
                            <option value="@year">@year</option>
                        }
                    }
                </select>
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Idioma secundario</label>
                <textarea asp-for="LanguageId" class="form-control"></textarea>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Duracion de renta</label>
                <textarea asp-for="RentalDuration" class="form-control"></textarea>
                <span asp-validation-for="RentalDuration" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Tasa de arrendamiento</label>
                <textarea asp-for="RentalRate" class="form-control"></textarea>
                <span asp-validation-for="RentalRate" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Costo de reemplazo</label>
                <textarea asp-for="ReplacementCost" class="form-control"></textarea>
                <span asp-validation-for="ReplacementCost" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Clasificación</label>
                <textarea asp-for="Rating" class="form-control"></textarea>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Caracteristicas especiales</label>
                <input asp-for="SpecialFeatures" class="form-control" />
                <span asp-validation-for="SpecialFeatures" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Ultima actualización</label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-block mt-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-controller="Film" asp-action="IndexFilm" class="btn btn-success">Regresar</a>
        </div>


    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

